<div class="edit-product">
  <h1 class="page-title">Edit Product</h1>
  <div class="form-container">
    <%= render 'form' %>
  </div>
  <%= link_to "Back to Product", product_path(@product), class: "btn-back" %>
</div>
